@page
@model BookProgram.Pages.Underviser.BookUnderviser.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_ULayout";
   
}

<h1 >List Of All Books In The System</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-success">Create New</a>
</p>
<hr style="width: auto" , size="10" , color=black>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookList[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookList[0].ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a> |
          <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
