@page
@model BookProgram.Pages.Underviser.BogHandel.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_ULayout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-success">Create New</a>
</p>
<hr style="width: auto" , size="10" , color=black>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].OrderValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].BookList.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderValue) Stk.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education.EducationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookList.Title)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a> |

                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
